doctype html
html(lang='en')
  include common/head.pug
  +head("WIMPIII")
  body
    h1= title
    h2 Welcome to #{title}
    if error
      p #{error}
    if message
      p #{message}
    form(action='/', method='POST')
      label Whut 
      input(name='lead_email' type="email", placeholder="here;s sfftuff")
      button(type="submit") Submit
    if leads
      h1 Leads
      for lead in leads
        p(id=lead.id)
          a(href="/lead/" + lead.id) #{lead.email}
          | 
          button(onclick=`deleteLead('${lead.id}')`) Delete
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    include common/footer.pug
    +footer()
    script(src='javascripts/leads.js')
